*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.form-thi{
    background: url('../img/bg-video.jpg');
    text-align: center;
    height: 1000px;
}

.form-thi .form-heading{
    text-align: center;
    padding: 45px 0px;
    color: #fff;
}

.form-thi .container{
    width: 75%;
    height: 750px;
    display: block;
    margin: auto;
    display: flex;
    box-shadow: 0px 0px 5px 5px #999999;

}
/* CONTENT - Chứa câu hỏi + hình ảnh + đáp án */
/* Start*/
.content{
    width: 1000px;
    background-color: #fff;
    border: 1px solid black;
}
.cauhoi{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 20px;
}

#img-cauhoi{
    height: 300px; 
    max-width: 800px;
    position: relative;
    margin: 10px 0px;
    padding-left: 20px;

}
.dapan{
    min-height: 50px;
    width: auto;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #f4f4f4dd;
    font-size: 18px;
    margin: 20px 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
}

.dapan:hover{
    background-color: #33FFFF;
    cursor: pointer;
}

/* END */

/* BOTTOM BAR - Chứa đếm thời gian + 30 câu hỏi */
/* START */
.bottom-bar{
    width: 300px;
    height: auto;
    background: #fff;
    border: 1px solid black;
    
}

/* countdown */
.time{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    background-color:#09345b;
    font-size: 20px;
    color: yellow;
    padding: 0px 15px;
}

/* Nút hiện thị số câu */
 .btn{
    margin: 10px 5px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    background-color: aqua;
    display: inline-block;
    line-height: 40px;
    box-shadow: 0px 0px 5px #6633FF;
}
.btn:hover{
    background-color: #FFFF33;
    cursor: pointer;
}

/* Nút nộp bài */
.submit_btn{

    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    height: 60px;
    width: 120px;
    line-height: 60px;
    background-color: #FFFF00;
    color: #EE0000;
    justify-items: center;
    margin-left: 30%;
    cursor: pointer;
    margin-top: 50px;
}
.submit:hover{
    opacity: 0.6;
    cursor: pointer;
}

/* END */



/* Form xác thực */
.xacthuc, .result {
			display: flex;
			align-items: center;
			justify-content: center;
            z-index: 1;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 26, 51, .95);
            /* transform: scale(0); */
            display: none;

		}

        .xacthuc_open, .result_open{
			display: flex;
        }
        .xacthuc_close{
            display: none;
        }

        .xacthuc_container{
            width: 400px;
            height: 200px;
            background: #fff;
            box-shadow: 0px 0px 10px #ccc;
        }
        .xacthuc_heading{
            background: #ddd;
            display: flex;
            justify-content: space-between;
            padding: 10px 15px;
        }
        .xacthuc_heading h3, .xacthuc_content p{
            font-family: Arial, Helvetica, sans-serif;
            color: #09345b
        }
        .xacthuc_content{
            font-weight: 550;
            padding: 20px;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }
        .xacthuc_buttons{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 20px;
            padding: 20px;
        }
        .xacthuc_cancel, .xacthuc_confirm{
            padding: 10px 20px;
            width: 100px;
            cursor: pointer;
            font-weight: 800;
        }
        .xacthuc_cancel{
            background: yellow;
            border: 1px solid #FFCC00;
            color: red;
        }
        .xacthuc_confirm{
            color: #fff;
            background: #0066CC;
            border: 1px solid #006699;

        }
        .ri-close-large-line{
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
        }

/* -------------------FORM KET QUA---------------------- */
        .result_container{
            box-shadow: 0px 0px 20px #DDDDDD;
            color: #333333;
        }
        .result-heading
        {
            font-family: Arial, Helvetica, sans-serif;
            width: 100%;
            color: #fff;
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #0099FF;
            padding: 10px 20px;
        }

        .result-heading h4{
            letter-spacing: 0.5px;
        }


        .result_content_item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        } 

        .emoji
        {
            color: #FFCC00;
            font-size: 30px;

        }
        .cauhoii, .sodiem, .danhgia{
            display: flex;
            padding: 10px 0px;
        }

        .result_content{
            background: #fff;
            padding: 20px 20px;
        }
        .result_content h1{
            font-family: Arial, Helvetica, sans-serif;

            text-align: center;
        }
        .result_content .loidanhgia{
            font-family: Arial, Helvetica, sans-serif;
            color: red;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 900;
            font-weight: bolder;
            
        }

        .result_container_heading{
            padding: 20px 0px;
            text-align: center;
            line-height: 30px;
        }
        .exit_btn
        {
            text-transform: uppercase;
            margin-top: 30px;
            font-size: 20px;
            font-weight: 600;
            background: #0099FF;
            color: #fff;
            text-align: center;
            padding: 20px 40px;
            margin-left: 40%;
            border-radius: 10px;
            cursor: pointer;
            border: 1px solid #FFCC00;

        }
        .exit_btn:hover {
            opacity: 0.5;
        }
        .ketqua{
            font-size: 20px;
            line-height: 25px;
        }
         .ketqua p{
            margin-left: 40px;
         }

         #cdl{
            color: red;
         }