*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.item1{
    height: 500px;
    border: 1px solid;
    overflow: scroll;
    background-color: white;
}

.item2{
    height: 500px;
    padding-left: 20px;
    border: 1px solid;
    overflow: scroll;
    background-color: white;

}

#cauHoi, .dapan{
    width: 450px;
}

#cauHoi{
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
}

.dapan{
    margin:10px 0;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 15px;
}

.dapan:hover{
    background-color: aqua;
    cursor: pointer;
}
button{
    border-radius: 15px;
    padding: 10px;
}

.btn{
    border-radius: 10px;
    width: 35px;
    height: 20px;
    border: 1px solid;
    cursor: pointer;
    margin: 11px 13px;
    display: inline-table;
    font-weight: bold;
    text-align: center;
    background-color: white;
}

.btn:hover{
    background-color: aqua;
}

.chuong{
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    background-color: yellow;
    margin-right: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.chuong:hover{
    background-color: chartreuse;
}