*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.video{
    position: relative;
}

#myVideo{
    position: relative;
    margin-top: 50px;
    display: block;
    height: 500px;
    width: 1000px;
    z-index: -1000;
}
.container{
    display: flex;
}
.item1{
    width: 70%;
    float: left;
}
.item2{
    width: 30%;
    float: right;
}

button{
    margin-top: 20px;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    font-size: 20px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    background-color: burlywood;
}

table{
    margin-top: 50px;
    width: 300px;
    height: 500px;
}

tr{
    text-align: center;
}

#myProgress {
    width: 1000px;
    background-color: grey;
    margin-bottom: 20px;
}

#myBar {
    width: 1%;
    height: 30px;
    background-color: green;
}

.bar-block{
    max-width: 1000px;
}

#time{
    margin-top: -20px;
    z-index: 10;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#bar{
    background-color: gray;
    height: 5px;
    width: 1000px;
    display: flex;
}

#p1, #p2, #p3, #p4, #p5{
    height: 8px;
    z-index: 10;
    opacity: 0;
}

#p1{
    background-color: lightgreen;
}

#p2{
    background-color: limegreen;
}

#p3{
    background-color: yellow;
}

#p4{
    background-color: orange;
}

#p5{
    background-color: red;
}

.result-bar{
    border: 1px solid;
}