*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.yellow{
  color: #ffea00 !important;
  font-size: 20px;
  font-weight: 900;
}
.white{ 
  font-size: 15px;
  color: white !important;
  margin-top: 12px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    background: #162938;
    max-height: 80px;
}
.container{
  height: auto;
  width: 100%;
}

/*-------------------------------------------------------------LOGO *-------------------------------------------------------------*/
.logo a{
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: 1px;
    color: #fff;
    user-select: none;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
}

/*-------------------------------------------------------------DESIGN THANH ĐIỀU HƯỚNG-------------------------------------------------------------*/

/*-------------------START - NAVIGATION----------------*/

/* để các thành phàn từ hàng dọc thành hàng ngang */
.navigation ul li{
    display: inline-block;

}

ul li a{
  display: block;
}
ul.dropdown li{
  display: block;
}
ul li ul.dropdown{
  width: auto;
  text-align: left;
  position: absolute;
  display: none;
  background: #162938;
  margin: auto;

}
/* design các thành phần trong thanh điều hướng */
.navigation li a{
  position: relative;
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin: 0 30px;
}


/* Tạo hiệu ứng dấu gạch chân cho các thành phần */
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    /* 1 */
    transform: scaleX(0);
    /* tạo ra hiệu ứng xuất hiện từ trong ra ngoài với 0.5s */
    transition: transform .5s;
}

/* 2 */
.navigation a:hover::after
{
    transform: scaleY(1);
}

/* design cho nút đăng nhập */
.navigation .btnLogin-popup{
    width: 120px;
    height: 50px;
    /* làm cho button tệp vào trong */
    background: transparent; 
    border: 2px solid #fff;
    outline: none;
    /* bo góc button */
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

/* tạo hiệu ứng cho nút đăng nhập */
.navigation .btnLogin-popup:hover{
    background: #fff;
    color: #162938;
} 

 .slider
{
    transform: translateY(100px);
    width: 100%;
    height: 400px;
    position: relative;
}


/* --------------------START - LUA CHON------------------ */
    .topic{

      padding: 20px 9%;
      height: 650px;
      width: 100%;
      background: url('../img/bg.jpg');
    }

    .topic_content{
      margin-top: 30px;
    }
    .topic_content h2{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #555555;
      letter-spacing: 2px;
    }
    .topic_content_item{
      height: 200px;
      margin-top: 20px;
      margin-bottom: 40px;
      
    }

    .topic_content_heading{
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      background: 	#002f53;
      box-shadow: 0px 0px 10px 	#01192b;
      color: #fff;
    }

    .topic_content_heading p{
      padding-right: 20px;
      font-weight: 900;
    }

    .topic_content_heading span i{
      font-size: 30px;
      color: yellow;
      padding: 0px 20px;
    }

  .topic_content_items{
    padding: 15px 20px;
    background: #F8F8FF;
    position: relative;
    box-shadow: 0px 0px 10px #CDCDC1;

  }
  .topic_content_items label{
    display: flex ;
    justify-content: space-between;
    height: 40px;
    margin-top: 10px;
  }

  .content_body{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 26, 51, .9);
    padding-top: 30px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: 0.6s;
  }

   .content_body:hover{
      opacity: 1;
  }

  .content_body p{
    font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
  }
  
  .content_body  button{
    width: 50%;
    font-size: 20px;
    background: #FFFF00;
    border: 1px solid #FFCC00;
    margin-top: 15px;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
  }

  .content_body  button:hover{
    background-color: #FFFF66;
  }

  .content_body  > *{
    transform: translateY(-25px);
    transition: transform 0.5s;
  }

  .content_body:hover  > *
  {
    transform: translateY(0px);
  }


  /* ----------END - LUA CHON----------- */


  /* --------------START - SLIDER DANH GIA TU HOC VIEN------------------- */
  .swiper {
    width: 100%;
    height: 550px;
  }

  .swiper-slide {
    font-size: 18px;
    display: flex;

  } 

  .swiper-slide img {
    display: block;
    object-fit: cover;
  }

  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }

.autoplay-progress svg {
    display: none;
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }

  
  .testimonials{
    margin-top: -150px;
    padding: 50px 0;
    background: url('./../img/bg-review.png') no-repeat;
    background-color: #00a7cc;
    height: 530px;
    transform: translateY(180px);
  }

  .content{
    margin: 0px 10%;
    align-items: center;
    
  }

  .section-header{
    text-align: center;
    margin: 42px 0px;
  }

  .section-header .title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 2px;
  }

  .testimonials-item {
    position: relative;
    background-color: #fff;
    padding: 30px;
    border-radius: 30px;
    width: 240px;
    max-height: 260px;
    box-shadow:  30px 25px 15px 0px #1d313f;
  }

  .testimonials-item img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
  }
  .testimonials-item .info{
    display: flex;
  }

  .testimonials-item .name{
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    color: #162938;
  }

  .testimonials-item .job{
    color: #999999;
    margin-top: 10px;
    
  }


  .testimonials-item p{
    margin: 20px 0px;
    color: #162938;
    position: relative;
  }

  .testimonials-item .rating{
    position: absolute;
    margin-top: 15px;
    font-size:  14px;
    color: yellow;
    /* bottom: 30px; */
  }

  .testimonials .swiper-pagination{
    margin-bottom: 10px;
  }

  .testimonials .swiper-pagination-bullet{
    height: 12px;
    width: 12px;
    background-color: #fff;

  }

  .swiper-wrapper{
    height: 350px;
  }

  /* END - DANH GIA HOC VIEN */

  /* ------------------------ */
  .danh_gia{
    /* position: absolute; */
    margin-top: 160px;
    padding: 100px 0;
    background: url('./../img/pattern-blue.jpg') repeat;
    width: 100%;
    height: 265px;
    transform: translateY(100px);
    position: relative;
  }

  .list-items {
    position: relative;
    text-align: center;
    height: 100px;
    
  }
  
  .list-items:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0; /* Positions the border on the right side */
    width: 0; /* Ensures the border doesn't affect the element's width */
    height: 100px; /* Matches the height of the .list-items element */
    border-style: dashed;
    border-width: 1px; /* Adjust border thickness as needed */
    border-color: #ccc; /* Inherits the border color from the .list-items element (red in this case) */
  }
  .numbers__desc
  {
    position: relative;
  }
  .gach_chan {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 30px;
    height: 2px;
    margin-left: -15px;
    content: "";
    background-color: #ffea00;
}

.numbers_list-values{
  font-size: 30px;
  color: #ffea00;
}


  /* ------------------------START - THONG TIN LUONG TRUY CAP----------- */
  .danh_gia{
    padding: 100px 0;
    background: url('./../img/pattern-blue.jpg') repeat;
    width: 100%;
    height: 300px;
    transform: translateY(50px);
  }
  .list-items {
    position: relative;
    text-align: center;
    height: 100px;
    
  }
  
  .list-items:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0; 
    width: 0; 
    height: 100px; 
    border-style: dashed;
    border-width: 1px;
    border-color: #ccc; 
  }
  .numbers__desc
  {
    position: relative;
  }
  .gach_chan {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 30px;
    height: 2px;
    margin-left: -15px;
    content: "";
    background-color: #ffea00;
}

.numbers_list-values{
  font-size: 30px;
  color: #ffea00;
}

  /* ------------------------ END - THONG TIN LUONG TRUY CAP----------- */


/*----------------------------START - FQA --------------------------------- */

.faq{
  margin-top: 50px;
  min-height: 500px;
  width: 100%;
  background: #f9fafb  url('../img/bg-faq.jpg') no-repeat right;
}

.faq_heading{
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 35px;
  letter-spacing: 1.5px;
  padding: 40px 0px 20px;
}
.accordion{
  width: 700px;
  margin-left: 50px;
  padding: 15px;
  border-radius: 8px;
}

.accordion .accordion-content{
  border-radius: 4px;
  margin: 10px 0;
  overflow: hidden;
  
}

.accordion-content.open{
  padding-bottom: 10px;
}
.accordion-content .accordion-item{
  display: flex;
  min-height: 50px;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.accordion-content.open .accordion-item{
  min-height: 35px;
} 

.accordion-content .accordion-item .title{
  font-size: 20px;
  font-weight: 500;
  color: #1d313f;
}

.accordion-content .accordion-item i{
  font-size: 25px;
  color: #4c8cca;
  padding: 0 10px;
}

.accordion-content  .answer{
  height: 0;
  font-size: 18px;
  font-weight: 400;
  padding: 0 15px;
  transition:  all 0.2s linear;
  margin-left: 80px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
/*---------------------------- END - FQA --------------------------------- */


/*----------------------------- START - FOOTER -----------------------------*/
.footer{
  background: #162938;
  width: 100%;
  height: 500px;

}

.footer-container{
  padding: 20px 8%;
}

.footer-container .footer-heading
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #fff;
  padding: 30px 0px;
  font-weight: 600;
}

.footer-container .footer-title
{
  color: #fff;
  opacity: 0.5;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.footer-container a.Brand 
{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 2px;
 
}

.footer__post-title{
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 10px;
}  


.footer-item a.transfer {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
}

.footer-item a.transfer:hover{
  text-decoration-line: underline;
}
.footer-item .contact{
  color: #fff;
  margin-bottom: 10px;
  margin-right: 50px;
  font-size: 20px;
}
.email{
  width: 250px;
  position: relative;
  height: 100px;
}
.email-container{
  display: flex;
  width: 250px;
}
 .icon-mail{
  display: flex;
  padding: 10px;
  background: #999999;
  color: #55595b;
  align-items: center;
  justify-content: center;
}

input[type="text"]{
  height: 50px;
  width: 250px;
}

input[type="text"]::placeholder {
  padding: 20px;
}

 .btn-send{
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 15px;
  background: yellow;
  cursor: pointer;
}

/*----------------------------- END - FOOTER -----------------------------*/
